body {
  margin: 0;
  font-family: 'Georgia', serif; /* estilo periódico */
  background: #e0e0e0; /* gris de fondo */
  color: #111;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
